* {
	border: none;
	border-radius: 0;
	font-family: "Iosevka Nerd Font";
    font-style: normal;
    font-weight: bold;
	font-size: 18px;
	min-height: 28px;
}

window#waybar {
	background: transparent;
}

window#waybar.empty #window {
	background: transparent;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: #cdd6f4;
    background: #313244;
}

window#waybar.Firefox #window,
window#waybar.Nextcloud #window,
window#waybar.keepassxc #window,
window#waybar.libreoffice #window,
window#waybar.mpv #window,
window#waybar.Navigator #window,
window#waybar.qutebrowser #window {
    color: #cdd6f4;
    background: #313244;
}

#mode {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 0;
    border-radius: 6px;
    color: #cdd6f4;
    background: #313244;
    transition: none;
}

#workspaces {
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 8px;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    color: #cdd6f4;
    background: #313244;
    transition: none;
}

#workspaces button {
    color: #b4befe;
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.4rem;
}

#workspaces button.focused {
    color: #cdd6f4;
    border-radius: 1rem;
}

#workspaces button.active {
    color: #89dceb;
    border-radius: 1rem;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #74c7ec;
    border-radius: 1rem;
}

#mpd {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    color: #cdd6f4;
    background: #313244;
    transition: none;
}

#mpd.disconnected,
#mpd.stopped {
    color: #cdd6f4;
    background: #313244;
}

#network {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #cdd6f4;
    background: #313244;
}

#pulseaudio {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #eba0ac;
    background: #313244;
}

#temperature {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #cdd6f4;
    background: #313244;
}

#cpu {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #b4befe;
    background: #313244;
}

#memory {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #cba6f7;
    background: #313244;
}

#clock {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #89b4fa;
    background: #313244;
}

#tray {
    margin-top: 8px;
    margin-left: -4px;
    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #cdd6f4;
    background: #313244;
}

#battery {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 12px;
    padding-left: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #a6e3a1;
    background: #313244;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.warning:not(.charging) {
  color: #f38ba8;
}

#battery.critical { color: orange; }
